{% load i18n %}
{% load static %}

<div class='newsfeed-posted-cont'>
	<div class='newsfeed-posted-info'>
		<div>
			<a href=''>
				<h2>Issued Health Identities and Immunization Certificates</h2>
			</a>
		</div>
	</div>
    <div class='newsfeed-post-seperator'></div>

{% for connection in user_connections %}
    <div class='newsfeed-posted-top-cont'>
        <div class='newsfeed-posted-img-info'>
            <div class='newsfeed-posted-img'>
                <img src="{% static "/indy/accounticon.png" %}">
            </div>
            <div class='newsfeed-posted-info'>
        		<div>
        			<a href=''>
        				<h2>{{ connection.partner_name }}</h2>
        			</a>
        		</div>
        		<div>
    				<h5>
        				<a href="{% url 'ha_issue_credentials' %}?id={{connection.id}}">
                            >>> Issue NEW Identity and Immunizations Credentials
                        </a>
    				</h5>
        			{% for immsconversation in connection.agentconversation_set.all %}
        				{% if immsconversation.health_id_issued.get %}
	        				<h4>
	        					Health ID {{ immsconversation.health_id_issued.get.health_id }}
                                {{ immsconversation.health_id_issued.get.first_name }}
                                {{ immsconversation.health_id_issued.get.last_name }}
                                ({{ immsconversation.health_id_issued.get.health_id_type }})
                            </h4>
                            <li><h5>
	        					Health ID Credential Issued
                                Status [{{ immsconversation.status }}]
                                {{ immsconversation.health_id_issued.get.issue_date }} 
                            </h5>
	        				{% if immsconversation.health_id_issued.get.imms_status_certificate.get %}
                            <li><h5>
	        					Immunization Credential Issued
                                {{ immsconversation.health_id_issued.get.imms_status_certificate.get.issue_date }} 
                                Status [{{ immsconversation.health_id_issued.get.imms_status_certificate.get.last_issued.status }}]
                            </h5>
	        				{% endif %}
        				{% endif %}
        			{% endfor %}
        		</div>
            </div>
        </div>
    </div>
    <div class='newsfeed-post-seperator'></div>
{% empty %}
{% endfor %}
</div>

<div class='newsfeed-posted-cont'>
    <div class='newsfeed-posted-info'>
        <div>
            <a href=''>
                <h2>Requested Immunization Status</h2>
            </a>
        </div>
    </div>
    <div class='newsfeed-post-seperator'></div>

{% for imms_status_request in imms_status_requests %}
    <div class='newsfeed-posted-top-cont'>
        <div class='newsfeed-posted-img-info'>
            <div class='newsfeed-posted-img'>
                <img src="{% static "/indy/accounticon.png" %}">
            </div>
            <div class='newsfeed-posted-info'>
                <div>
                    <a href=''>
                        <h2>{{ imms_status_request.imms_status_proof.connection.partner_name }}</h2>
                    </a>
                </div>
                <div>
                    <h4>
                        Health ID {{ imms_status_request.health_id }}
                        ({{ imms_status_request.consenting_health_id }})
                        Status [{{ imms_status_request.imms_status_proof.status }}]
                    </h4>
                    {% if imms_status_request.imms_consent_proof %}
                    <li><h5>
                        Consent Requested
                        Status [{{ imms_status_request.imms_consent_proof.status }}]
                    </h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class='newsfeed-post-seperator'></div>
{% empty %}
{% endfor %}
</div>

